.task-action {
    cursor: pointer;
}

.task-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-completed{
    color: gray;
    text-decoration: line-through;
}

.task-pending{
    font-weight: bold;
    color: tomato;
}